.pentagon {
    width: 250px;
    height: 250px;
    position: relative;
    background-color: #ccc;
    clip-path: polygon(50% 0%, 100% 38%, 82% 100%, 18% 100%, 0% 38%);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden; 
    margin-bottom: 1rem;
    flex-basis: calc(23.33% - 2rem);
}

.pentagon:hover .image,
.pentagon:focus .image {
    width: 120%; 
    height: 120%;
}

.image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition: width 0.5s ease, height 0.5s ease;
}


.container{
    display:flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}



#shuffleButton{
        padding:13px;
        color:black;
        background-color: transparent;
        border: 1px solid black;
        font-size: 16px;
        width:300px;    
}

#shuffleButton:hover{
    color:#FFFFFF;
    background-color: rgb(45, 24, 24);
}

.btn-position{
    margin-top:5%;
    display:flex;
    justify-content: center;
}


@media screen and (min-width: 1600px) {
    .container {
        max-width: 1600px; 
    }

    .pentagon {
        width: calc(25% - 2rem);
        margin: 1rem; 
    }
}

@media screen and (max-width: 1100px) {
    .pentagon {
      flex-basis: calc(33.33% - 1rem);
      margin-right: 1rem;
      margin-bottom: 1rem;
       }
  }
  
  @media screen and (max-width: 720px) {
    .pentagon {
      flex-basis: calc(50% - 1rem);
      margin-right: 1rem;
      margin-bottom: 1rem;   
    }
  }
  
  @media screen and (max-width: 420px) {
    .pentagon {
      flex-basis: calc(100% - 2rem);
      margin-right: 0;
      margin-bottom: 1rem;
      }
  }
